
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron
{
  background: none
 
}

.jumbotron.Container.h1
{
  font-size: 200%
}

.Button {
    margin:5px;
    padding-top: 50px
}

.divider{
  width:35px;
  height:auto;
  display:inline-block;
}

.vdivider{
  height:50px;
  display:inline-block;
}

.ndivider{
  height:40px;
  display:inline-block;
}

body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: 'Source Code Pro' monospace;
  text-align: center;
}

.selection
{
  color: #444;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  font-family: sans-serif;
  line-height: 1.3;
}

.selection:hover
{
  outline: none;
  border: 1px solid #bbbbbb;
}

.compatibility
{
  box-sizing: border-box;
  border-color: white;
  border-style: outset;
}